@*
    Views/Home/Index.cshtml
*@
@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>🚲 KampusTek Web Uygulaması</h2>
<p>Hoş geldiniz! Menüden kullanıcı, bisiklet, istasyon ve kiralamaları yönetebilirsiniz.</p>
